###################################################################################################
# KEEP UP TO DATE ALONG WITH .gitignore!
###################################################################################################

## Unneeded sourcemod/linux
### shared objects
dist/metamod/linux/addons/metamod/bin/*
!dist/metamod/linux/addons/metamod/bin/linux64
!dist/metamod/linux/addons/metamod/bin/metamod.2.csgo.so
!dist/metamod/linux/addons/metamod/bin/server_i486.so
!dist/metamod/linux/addons/metamod/bin/server.so

## Unneeded Sourcemod
### bin
dist/sourcemod/linux/addons/sourcemod/bin/sourcemod.2.*.so
!dist/sourcemod/linux/addons/sourcemod/bin/sourcemod.2.csgo.so
### configs
dist/sourcemod/linux/addons/sourcemod/configs/admins_simple.ini
dist/sourcemod/linux/addons/sourcemod/configs/core.cfg
### plugins
dist/sourcemod/linux/addons/sourcemod/plugins/disabled/*
dist/sourcemod/linux/addons/sourcemod/plugins/funcommands.smx
dist/sourcemod/linux/addons/sourcemod/plugins/funvotes.smx
dist/sourcemod/linux/addons/sourcemod/plugins/nextmap.smx
dist/sourcemod/linux/addons/sourcemod/plugins/reservedslots.smx
dist/sourcemod/linux/addons/sourcemod/plugins/sounds.smx
### runable configs
dist/sourcemod/linux/cfg/sourcemod/sourcemod.cfg

## Unneeded sourcemod/get5
dist/sourcemod/get5/cfg/get5/live.cfg

###################################################################################################
# Unique to .dockerignore
###################################################################################################
dist/get5/LICENSE
dist/get5/README.md
