### Project Specific ###

## Unneeded metamod
### shared objects
dist/metamod/linux/addons/metamod/bin/*
!dist/metamod/linux/addons/metamod/bin/linux64
!dist/metamod/linux/addons/metamod/bin/metamod.2.csgo.so
!dist/metamod/linux/addons/metamod/bin/server_i486.so
!dist/metamod/linux/addons/metamod/bin/server.so

## Unneeded Sourcemod
### plugins
dist/sourcemod/linux/addons/sourcemod/plugins/disabled/*
dist/sourcemod/linux/addons/sourcemod/plugins/funcommands.smx
dist/sourcemod/linux/addons/sourcemod/plugins/funvotes.smx
dist/sourcemod/linux/addons/sourcemod/plugins/nextmap.smx
dist/sourcemod/linux/addons/sourcemod/plugins/reservedslots.smx
dist/sourcemod/linux/addons/sourcemod/plugins/sounds.smx
### shared objects
dist/sourcemod/linux/addons/sourcemod/bin/sourcemod.2.*.so
!dist/sourcemod/linux/addons/sourcemod/bin/sourcemod.2.csgo.so


### Linux Cruft ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*


### Mac OS Cruft ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.icloud


### Visual Studio Code Cruft ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
.vscode/*.code-snippets
*.code-workspace


### Windows Cruft ###
[Tt]humbs.db
[Tt]humbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
